<div id="carousel"></div>
<hr class="none">
<div class="item clearfix row">
  <div class="labels col-md-3 padding-right-zero pull-left">
    <span>Text</span>
  </div>
</div>
<hr class="none">
<div class="item clearfix row">
  <div class="main col-md-12 pull-right">
    <textarea id="text" ui-tinymce="ContentHome.bodyWYSIWYGOptions"
              class="form-control" rows="5" width="100%"
              ng-model="ContentHome.data.content.description"></textarea>
  </div>
</div>
<hr class="margin-top-thirty">
<div class="feedback-container">
  <div class="item clearfix row">
    <div class="labels col-xs-2 pull-left">
      <span>Feedback</span>
    </div>
    <div class="main col-xs-10 pull-right">
      <div class="intro text-left">
        <p class="margin-zero">Total # of Reviews: <span
            style="font-weight:400;">4</span></p>

        <p class="margin-zero">Average Rating: <span style="font-weight:400;">4.8/5</span>
        </p>
      </div>
    </div>
  </div>
  <hr class="none">
  <div class="item clearfix row">
    <div class="main col-xs-12 pull-left">
      <div class="review-item" ng-repeat="review in ContentHome.reviews | orderBy:'-data.addedDate'">
        <div class="rating br-wrapper br-theme-css-stars">
          <!--<div class="br-widget">
            <a class="br-selected"></a>
            <a class="br-selected"></a>
            <a class="br-selected"></a>
            <a class="br-selected"></a>
            <a></a>
          </div>-->
            <ng-rate-it ng-model="review.data.startRating" class="custom" rated="" read-only = "true"></ng-rate-it>
        </div>
        <p>{{review.data.Message}}  <a ng-click="ContentHome.getUrl(review.userToken)">Chat</a></p>

        <p class="author info padding-zero margin-zero">
          <img src="http://www.placehold.it/60x60">
          {{review.data.displayName}} on {{review.data.addedDate |date:'medium'}}
        </p>
      </div>
    </div>
  </div>
</div>