
<script type="text/javascript" charset="utf-8">
	$(function() {
	 	$('#stars').barrating({
	     	theme: 'css-stars'
	  	});
	});
</script>
<div class="holder padding-zero">
	<div class="feedback-plugin submit-review">
		<div class="item clearfix padded">
			<p>Submit Review</p>			
		</div>
		<hr class="none">
		<div class="item clearfix">
			<div class="col-xs-12 pull-left">
				<span>Rating:</span>
			</div>
			<div class="col-xs-12 pull-right margin-top-five">
				<select id="stars">
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
				  <option value="5">5</option>
				</select>
			</div>
		</div>
		<hr class="none">
		<hr class="none">
		<div class="item clearfix">
			<div class="col-xs-12 pull-left">
				<span>Message:</span>
			</div>
			<div class="col-xs-12 pull-right margin-top-five">
				<textarea class="form-control" placeholder="Enter message..." ng-model="WidgetSubmit.Feedback.Message"></textarea>
			</div>
		</div>
		<hr class="none">
		<div class="col-xs-12 pull-left text-center">
			<a class="submit btn btn-success padding-left-thirty padding-right-thirty" ng-click="WidgetSubmit.save()">Submit Review</a>
		</div>
	</div>
</div>