
<script type="text/javascript" charset="utf-8">
	$(function() {
	 	$('#stars').barrating({
	     	theme: 'css-stars'
	  	});
	});
</script>
<div class="holder padding-zero">
	<div class="feedback-plugin review-wall">
		<div class="intro text-center padding-top-ten padding-bottom-twenty">
			<p class="margin-top-ten margin-bottom-zero">Reviews: <span style="font-weight:400;">{{WidgetWall.data.reviews.length}}</span></p>
			<p>Average Rating: <span style="font-weight:400;">{{WidgetWall.lastRating.data.startRating / (WidgetWall.data.reviews.length +1) | number:2 }}/5</span></p>
			<div class="rating br-wrapper br-theme-css-stars">
				<ng-rate-it ng-model="WidgetWall.startPoints" class="custom"  read-only = "true"></ng-rate-it>
			</div>
			<p ng-if="WidgetWall.lastRating<=1">Poor</p>
			<p ng-if="WidgetWall.lastRating>1 && WidgetWall.lastRating<=2">Average</p>
			<p ng-if="WidgetWall.lastRating>2 && WidgetWall.lastRating<=3">Good</p>
			<p ng-if="WidgetWall.lastRating>3 && WidgetWall.lastRating<=4">Excellent</p>
			<p ng-if="WidgetWall.lastRating>4">Outstanding</p>
			<a class="btn btn-success btn-sm" href="#/submit">Submit Review</a>
		</div>
		<div class="review-item clearfix" ng-repeat = "data in WidgetWall.data.reviews" >
			<hr class="small">
			<div class="head row clearfix padding-left-ten padding-right-ten margin-bottom-fifteen">
				<div class="col-xs-8 pull-left">
					<div class="media-holder pull-left">
						<img src="http://www.placehold.it/100x100">
					</div>
					<div>
						<p class="text-primary ellipsis margin-bottom-zero padding-left-ten">
							<a class="text-primary">{{data.data.displayName}}</a>
						</p>
						<p class="date opacity-seventy">{{data.data.addedDate | date : 'shortDate'}}</p>
					</div>
				</div>
				<div class="col-xs-3 pull-right margin-top-ten text-right">
					<span class="stars"><span style="font-weight:400;">{{data.data.startRating}}</span> stars</span>
				</div>
			</div>
			<div class="copy padding-left-ten padding-right-ten margin-bottom-fifteen">
				<p class="margin-zero">{{data.data.Message}}</p>
			</div>
		</div>

	</div>
</div>